#keyboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* מספר העמודות בהתאם לצורך */
  grid-template-rows: repeat(4, auto); /* 3 שורות */
  gap: 5px;
  padding: 10px;
}

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f0f0f0;
  font-size: 16px;
}
.special {
}
.upper {
  background-color: #bebebe;
}
p {
  padding: 5px;
  min-height: 100px;
  min-width: 400px;
  background-color: #d8d7d7;
  max-width: 500px;
}
